A Census Block FIPS code has 15 digits and is structured as follows:

AABBBCCCCCCDEEE

A = State (2 digit FIPS code)

B = County (3 digit FIPS code)

C = Tract (6 digit FIPS code)

D = Block Group (1 digit FIPS code)

E = Block (3 digit FIPS code)

In [1]:
# Display plots in the notebook
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
# Common imports
import numpy as np
import pylab as pl
import pandas as pd

In [3]:
# Make plots prettyful
pl.style.use('fivethirtyeight')

In [10]:
lodes = pd.read_csv('../data/output/lodes_nyc.csv', dtype={'w_geocode': str, 'h_geocode': str})

In [13]:
lodes['w_county_tract'] = lodes['w_geocode'].str[2:11]
lodes['h_county_tract'] = lodes['h_geocode'].str[2:11]

In [14]:
lodes.head(5)

,Unnamed: 0,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate,w_county,h_county,w_county_tract,h_county_tract
0,203699,360050002001004,360050079003001,1,0,1,0,0,1,0,0,1,0,20150727,5,5,005000200,005007900
1,203700,360050002001004,360050123001000,1,0,1,0,0,0,1,0,1,0,20150727,5,5,005000200,005012300
2,203701,360050002001004,360050151002001,1,0,1,0,0,0,1,0,1,0,20150727,5,5,005000200,005015100
3,203702,360050002001004,360050399011001,1,0,1,0,1,0,0,0,1,0,20150727,5,5,005000200,005039901
4,203703,360050002001004,360050399023002,1,0,1,0,0,1,0,0,1,0,20150727,5,5,005000200,005039902

In [37]:
lodes_tract = lodes.groupby(['w_county_tract', 'h_county_tract'])

In [49]:
'''w_geocode = []
h_geocode = []
S000 = []
for d in lodes_tract.groups:
    group = lodes_tract.get_group(d)
    w_geocode.append(d[0])
    h_geocode.append(d[1])
    S000.append(group.sum()['S000'])'''
tract_commutes = lodes_tract.sum().reset_index()

In [ ]:
#tract_commutes = pd.DataFrame({'w_county_tract': w_geocode, 'h_county_tract': h_geocode, 'S000': S000})

In [21]:
times = pd.read_csv('../data/output/time_matrix.csv', dtype={'o_code': str, 'd_code': str})

In [22]:
times.head(5)

              o_code             d_code   walk_dist  travel_seconds
0  (u'1', u'000201')  (u'1', u'000201')  168.000000             126
1  (u'1', u'000201')  (u'1', u'000202')  741.053677             571
2  (u'1', u'000201')  (u'1', u'000600')  418.356752             316
3  (u'1', u'000201')  (u'1', u'000700')  888.427045            1315
4  (u'1', u'000201')  (u'1', u'000800')  823.046677             637

In [25]:
times['boro_code'] = times['o_code'].str[3]

In [26]:
times['county_code'] = None

In [30]:
times['county_code'][times['boro_code'] == '1'] = '061' # Manhattan
times['county_code'][times['boro_code'] == '2'] = '005' # Bronx
times['county_code'][times['boro_code'] == '3'] = '047' # Brooklyn
times['county_code'][times['boro_code'] == '4'] = '081' # Queens
times['county_code'][times['boro_code'] == '5'] = '085' # Staten Island

c:\Users\Jeremy\Anaconda\lib\site-packages\IPython\kernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
c:\Users\Jeremy\Anaconda\lib\site-packages\IPython\kernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app
c:\Users\Jeremy\Anaconda\lib\site-packages\IPython\kernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
c:\Users\Jeremy\Anaconda\lib\site-packages\IPython\kernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\Jeremy\Anaconda\lib\site-packages\IPython\kernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
times.head(5)

,o_code,d_code,walk_dist,travel_seconds,boro_code,county_code
0,"(u'1', u'000201')","(u'1', u'000201')",168.000000,126,1,061
1,"(u'1', u'000201')","(u'1', u'000202')",741.053677,571,1,061
2,"(u'1', u'000201')","(u'1', u'000600')",418.356752,316,1,061
3,"(u'1', u'000201')","(u'1', u'000700')",888.427045,1315,1,061
4,"(u'1', u'000201')","(u'1', u'000800')",823.046677,637,1,061

In [54]:
times['h_county_tract'] = times['county_code'] + times['o_code'].str[9:15]
times['w_county_tract'] = times['county_code'] + times['d_code'].str[9:15]

In [55]:
times.head(5)

,o_code,d_code,walk_dist,travel_seconds,boro_code,county_code,h_county_code,w_county_code,h_county_tract,w_county_tract
0,"(u'1', u'000201')","(u'1', u'000201')",168.000000,126,1,061,061000201,061000201,061000201,061000201
1,"(u'1', u'000201')","(u'1', u'000202')",741.053677,571,1,061,061000201,061000202,061000201,061000202
2,"(u'1', u'000201')","(u'1', u'000600')",418.356752,316,1,061,061000201,061000600,061000201,061000600
3,"(u'1', u'000201')","(u'1', u'000700')",888.427045,1315,1,061,061000201,061000700,061000201,061000700
4,"(u'1', u'000201')","(u'1', u'000800')",823.046677,637,1,061,061000201,061000800,061000201,061000800

In [59]:
joined = times.merge(tract_commutes, on=('h_county_tract', 'w_county_tract'), how='inner')

In [61]:
joined['total_commute_time'] = joined['travel_seconds'] * joined['S000']
joined['total_walk_dist'] = joined['walk_dist'] * joined['S000']

In [63]:
h_tracts = joined.groupby('h_county_tract')

In [68]:
sums = h_tracts.sum()
sums['travel_seconds']/sums['S000']
summary = pd.DataFrame({
    #'county_tract': sums.index,
    'average_commute_time': sums['travel_seconds']/sums['S000'],
    'average_walk_distance': sums['walk_dist']/sums['S000'],
    'number_of_commuters': sums['S000']
})

In [72]:
summary.to_csv('tract_commute_summary.csv')